.capsule {
  display: flex;
}

.preview {
  background: #777 !important;
  text-align: center;
  margin: auto;
  width: 50%;
}

.avatars {
  display: flex;
}

.avatars > *:not(:first-child) {
  margin-left: 30px;
}

.buttons > * {
  margin: 0 10px !important;
}

.preview > div {
  margin: 20px 0;
}

.preview span {
  margin-left: 10px;
}

.grid {
  text-align: center;
}

/* paper */
.grid > div > div {
  margin: 10px;
}
