.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 500px;
}

.logo {
  background: url("https://placehold.jp/250x250.png?text=logo");
  height: 250px;
  margin: auto;
  width: 250px;
}

.install {
  text-align: center;
  margin: 70px 0;
}
