.container {
  align-items: center;
  left: 0;
  bottom: 0;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.topBox {
  background: #535353;
  display: flex;
  height: 25px;
  padding: 0 10px;
  width: 100%;
}

.version {
  width: 150px;
}

.bottomBox {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  height: 100%;
}

.selectBox {
  display: flex;
}

.textField {
  width: 100%;
}

.linkSection {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.linkSection > a {
  color: #f5f5f5 !important;
  font-weight: 200;
  margin: 0 10px !important;
  text-decoration: none;
}

.linkSection > a:last-child {
  margin-right: 0 !important;
}
